* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  background-color: #1d1c19;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
  padding: 0 16px;
}

a {
  text-decoration: none;
}

header {
  background-color: #3b39328a;
  margin: auto -16px;
  display: flex;
  justify-content: space-between; 
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  font-family: "McLaren", cursive;
}

footer p {
  margin: auto;
  text-align: center;
  padding: 5px;
  color:#fff;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.nav {
  align-self: stretch;
    
    display: flex;
    align-items: center;
}
ul {
  flex: ;
  float: right;
  display: inline;
  
}

ul li {
  list-style-type: none;
  padding-left: 20px;
  color: #fff;
  text-decoration: none;
}

ul li a{
  text-decoration: none;
}

/* about */
.about-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 5% 20%;
}
.about {
  color: #fff;
  font-family: "McLaren", cursive;
  padding: 20px 20px;
  text-align: center;
}